
/* MEDIA QUERIES */
@media (max-width: 800px){
    /* MENU ASIDE */
        *{
            scroll-behavior:auto
        }
        .close-menu{
            position: fixed;
            z-index: 2;
            top: 0;
            left: 0;
        }
        .close-menu-label::after{
            content: '☰';
            position: fixed;
            z-index: 3;
            top: 2rem;
            right: 4rem;
            background-color: var(--primary-color);
            color: var(--secundary-color);
            font-size: 3rem;
            line-height: 3rem;
            width: 3rem;
            height: 3rem;
            text-align: center;
            padding: 0.5rem;
            cursor: pointer;
        }
        .menu{
            display: none; /*esconder o menu  */
            min-height: 100vh;
            text-align: center;
            bottom: 0;
        }
        .close-menu:checked~.menu{
            display: block;
        }
        .close-menu:checked~.close-menu-label::after{
            content: "×";
        }


    .caixa-flex , .top-bar li{
        display: block;
    }
    .top-bar li{
        margin: 4rem 1rem;
    }

    /* principal */
    .grid-display{
        grid-template-columns: 1fr;
    }

    /* track day */
    .grid-divisorias{
        grid-template-columns: 1fr;
    }
    .text-right p , .text-left p{
        text-align: center;
        width: auto;
    }
    .tabela-responsiva{
        margin: auto;
    }

    .contact-form{
        grid-column: span 1;
        
    }

    /* IMAGENS */
    .box-logo-img{
        margin: 0%;
        padding: O;
        flex-direction: column;
        align-items: center;
        

    }
    .logo1, .logo2{
        align-items: center;
    }
    #contato .all-image{
        padding: 0;
    }
    .contact-image{
        border-radius: 10%;
    }
    .foto-galeria{
        max-width: 25rem;
    }
    .all-image{
        padding-left: 0;
    }
    .lateral-img{
        width: 80%;
        max-width: 40rem;        
    }
    .front-eyes{
        max-width: 37rem;
        border-radius: 50%;
       
    }

    /* videos */
    .video-container{
        position: relative;
        width: 100%; 
        align-items: center;
        margin: auto;
    }
    .absolut-mp4{
        position: relative;
        border-radius: 15%;
    }
    #curso .video-1 ,  #curso .video-2{        
        max-width: 90%;
        padding: 2rem;
    }
    
    .video-cup{
        width: 100vw;
    }
    #cup .video-center{
       width: 60%;
    }

    p{
        margin: auto ;
    }

    /* TEXTOS */
    body{
        font-size: 1.7rem;
    }
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 3.5rem;
    }
    #cup h2 , h3{
        padding: 2rem AUTO;
    }    
    h3 , h4{
        font-size: 2.5rem;
        
    }
    h5{
        font-size: 2rem;
    }
     h6{  /*tabela cup*/
        font-size: 1.3rem;
    }
    
    p{
        margin-bottom: 1rem;
        text-indent: 2rem;
        padding: 0 var(--gap);
        line-height: 2rem;
        letter-spacing: 0.1rem;
    }
}