:root {
    /* CRIANDO VARIAVEIS GLOBAIS */
    --primary-color: rgba(0, 0, 0, 0.767);

    --secundary-color: rgb(253, 253, 253);
                text-shadow: 2px 1px black;
    --light-gray-color:#e4e4e4;

    --kawasaki-color: #85B442;

    --gap: 3rem;

    --espaco-do-menu: 12.6rem;
}
*{
    margin: 0;
    padding: 0;
    text-align: center;
    scroll-behavior: smooth; 
    box-sizing: border-box;
}
html{
    /* padronizar a responsividade */
    font-size: 62.5%;
    
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    /* overflow-y: scroll; */
}


/* ESTRUTURA */
    .espacamento-superior{
        padding-top: var(--espaco-do-menu);
        margin-top: var(--espaco-do-menu);
    }
    .main-fundo{
        /* plano de fundo */
        background-image: url('../imagens/poligono-fundo1.svg');
        background-size: cover;
        background-position: center ;
        color: var(--secundary-color);
        
    }
    .main-fundo-branco{
        text-shadow: none;
    }
    .sessao{
        min-height: 100vh;
        
    }
    .main-conteudo{
        max-width: 120rem;
        margin: 0 auto;
    }
    .caixa-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
   
    .grid-display{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        align-items: center;
        justify-content: stretch;
        gap: var(--gap);
        min-height: 100vh;
    }
     
     .grid-divisorias{ /*guia track day */
        display: grid;
        grid-template-columns: auto auto auto;
        width: 90vw;
        margin:   auto;
    }
    .text-flex-daddy{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        margin: 0 auto;
    }
    
    .text-content {
        position: relative;
        top: -8rem;
    }
    
    .text-right p , .text-left p{
        padding-top: 2.5rem;
        text-align: right;
        text-indent: 0rem;
        width: 20vw;
    }
    .text-left p{        
        text-align: left;  
    }
    .text-center{
        width: 70vw;
        text-align: center;
    }
    body .full-width{
        width: 100%;
        flex: 1 1 100%;
    }
    .footer{
        margin: var(--gap);
    }
    .footer a{
        text-decoration: none;
        color: var(--kawasaki-color);
    }

/* FORMULARIO */
    .contact-form{
        grid-column: span 2;
        
    }
    .contact-form .form-fild{
        margin: 0 10vw 2vw 10vw;
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap);
    }
    .form-group{
        flex: 1   320px;
        white-space : nowrap;
    }
    .form-group label{
        display: block;
        text-align: left;
        margin-bottom: 1rem;
    }
    .form-group input , .form-group textarea{
        border: none;
        background: var(--secundary-color);
        padding: 1rem 2rem;
        width: 90%;
         outline: none; 
    }/*borda de seleção da caixa input */
    .form-group input:focus , .form-group textarea:focus{
        box-shadow: 0 0 10px 5px var(--kawasaki-color);

    }
    .form-group button{
        border: 0.5rem solid var(--secundary-color);
        background: none;
        padding: 1.5rem 2rem;
        text-transform:600 ;
        color: var(--secundary-color);
        font-size: 1.8rem;
        cursor: pointer;
        transition: all 300ms ease-in-out;
    }
    .form-group button:hover{
        background: var(--secundary-color);
        color: var(--primary-color);

    }

/* TABELAS */
.tabela-responsiva{
    background-color: var(--kawasaki-color);
    border-radius: 50%;
    margin: -3rem 0 3rem ;
    
}
table{
    display: flexbox;
    margin: 3rem 5rem 5rem 5rem;
    width: 60vw;
    height: 20rem;
    border-collapse: collapse; /*fazer a borda juntar */
}
th{
    border: 0.4rem solid white;
}
td{
    border: 0.2rem solid white;
}
.table th{
    color: var(--secundary-color) ;
    background-color: var(--kawasaki-color);
    border: 0rem;
    
}


/* BARRA DE MENU ASIDE */
    .menu{
        background-color: var(--secundary-color);
        position: fixed;
        top: 0; left: 0; right: 0;
        width: 100%;
        border-bottom:2px solid var(--kawasaki-color);     
         z-index: 2; /*para os elementos passarem por baixo dele */
    }
    .menu h1{
        font-size: 2.3rem;
    }
    .top-bar a{
        text-decoration: none;
        color: var(--kawasaki-color);
        text-shadow: 1px 1px ;
        position: relative;
    }
        /* EFEITO DE TRANSIÇÃO */
            .top-bar a::after{
                content: "";
                position: absolute;
                top: 2.5rem; left: 50%;
                width: 0;
                height: 0.2rem;
                background-color: var(--kawasaki-color);
                transition: all 300ms ease-in-out;
            }
            .top-bar a:hover::after{
                width: 100%;
                left: 0%;
            }
            

    .top-bar ul{
        
        list-style: none;
        
    }
    .top-bar li{
        display: inline;
        margin: 1rem 0.5rem;
       
    }

/* FOTOE E IMAGENS */
    .box-logo-img{
        margin-left: 1%;
    }
    .logo1{
        padding: 0 1rem 0.5rem 1rem; 
        width: 10rem;
    }
    .logo2{
        padding: 0.4rem 0 0 1rem ;
        width: 6rem;        
    }
    
    .all-image{
        position: relative;
        top: -7rem; right: 0;
        padding-left: 10%;
    }
    .lateral-img{
        width: 100%;
        max-width: 50rem;        
    }
    .contact-image{
        width: 80%;
        max-width: 60rem;  
        border-radius: 20%;
        margin-top: 10rem;
    }
    .front-eyes{
        max-width: 40rem;
        border-radius: 50%;
       
    }
   
    .foto-galeria{
        width: 30rem;
        max-height: 20rem;
        margin: 0.9rem;
        box-shadow: 1rem 1rem 3px rgba(0, 0, 0, 0.521);
	    transition: all 0.4s ease-in;
        
    }
    .foto-galeria:hover{
        /* fazer a imagem girar e aumentar */
        transform: translate(-3%, 3%) scale(1.3) rotate(5deg);
    }
/* VIDEOS */
    
    .video-container{
       position: relative;
       max-width: 50rem;
       width: auto;
       min-height: 100vh;
   }
   
    .absolut-mp4{
        position: absolute;
        border-radius: 4%;
    }
    #curso .video-1 {
        right: 0; top: 0;
        max-width: 90%;
        min-width: 3rem;
    }
    #curso .video-2 {
        right: 0; bottom: 0rem; 
        max-width: 90%;
        min-width: 3rem;
    }
    .video-cup{
        width: 40vw;
    }
    #cup .video-center{
        max-width: 30vw;
        margin: 5rem 0;
    }

/* Fontes e textos */
    h1, h2, h3, h4, h5 {
        font-family: 'Montserrat', sans-serif;
    }
    h1{
        font-size: 6rem;
        text-transform: uppercase;
    }
    h2{
        font-size: 5.5rem;
        padding: var(--gap);
        text-transform: uppercase;
    }
    #cup h2 , h3{
        padding: 2rem;
        color: var(--kawasaki-color);
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
    }    
    h3 , h4{
        font-size: 4rem;
        
    }
    h4{
        font-size: 3.5rem;
    }
    h5{
        font-size: 3rem;
    }
     h6{  /*tabela cup*/
        font-size: 1.5rem;
        text-align:center;
        margin-bottom: 00.5rem;
        color: var(--secundary-color);
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
    }
    
    p{
        margin-bottom: 1rem;
        text-indent: 5rem;
        padding: 0 var(--gap);
        line-height: 2.5rem;
        letter-spacing: 0.2rem;
        text-align: justify;
    }
    